apiVersion: v2
name: sso
description: G10F Single Sign-On
maintainers:
  - name: Gunnar Scherf
    email: mail@gunnar-scherf.de
    url: https://gunnar-scherf.de
type: application
version: 1.1.11
appVersion: 5.1.9
icon: https://sso.g10f.de/apple-touch-icon.png
dependencies:
  - name: memcached
    version: 7.9.7
    repository: https://charts.bitnami.com/bitnami
    condition: memcached.enabled
